.container {
    background-color: whitesmoke;
    margin-top: 10%;
    margin-bottom: 10%;
}
.game-field {
    min-height: 300px;
    max-height: auto;
}

.group_button {
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%; 
  }

  .btn-circle {
    width: 75px;
    height: 75px;
    padding: 6px 0px;
    text-align: center;
    border-radius: 50%;
    font-size: 17px;
  }
  .header {
      font-size: 22px;
      color:rgb(179, 172, 172);
  }

  h3, h2 {
    text-align: center;
  }
  .col > p {
    text-align: center; 
    font-size:24px; 
    color:black
  }
  #reset-btn {
      float: right;
      margin-top: 5px;
      background-color: rgb(194, 52, 64);
      color: white;
  }

  img {
      width:170px;
      height: 150px; 
      margin-top: 5px;
      visibility: hidden;
      /*animation: MoveDownUp  0.5s infinite; */
    
  }

  .animation {
    animation: MoveDownUp  0.5s infinite; 
    animation-play-state: paused;
  }

  @keyframes MoveDownUp {
    25% {margin-top: 5px; -webkit-animation-timing-function: ease-in;}
    50% {margin-top: 20px; -webkit-animation-timing-function: ease-out;}
    75% {margin-top: 20px; -webkit-animation-timing-function: ease-out;}
    100% {margin-top: 5px; -webkit-animation-timing-function: ease-in;}

  }

