.container {
    background-color: whitesmoke;
    margin-top: 10%;
    margin-bottom: 10%;
}
.game-field {
    min-height: 300px;
    max-height: auto;
}

.group_button {
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%; 
  }

  .btn-circle {
    width: 75px;
    height: 75px;
    padding: 6px 0px;
    text-align: center;
    border-radius: 50%;
    font-size: 17px;
  }
  .header {
      font-size: 22px;
      color:rgb(179, 172, 172);
  }

  h3, h2 {
    text-align: center;
  }
  .col > p {
    text-align: center; 
    font-size:24px; 
    color:black
  }
  #reset-btn {
      float: right;
      margin-top: 5px;
      background-color: rgb(194, 52, 64);
      color: white;
  }